.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-container button {
    display: flex;
    flex-direction: column;

    /*background: rgb(0, 162, 255);*/
    background: linear-gradient(25deg, rgb(0, 117, 184) 0%, rgb(0, 183, 255) 50%,  rgb(63, 201, 255) 100%); 
    width: 10em;

    border: 1px solid rgb(0, 34, 144);
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(110, 170, 194);
}

button svg {
    height: 48px;
    width: 100%;
    margin-top: 10px;
}